<div class="container mb-5 mt-5">
    <div class="ac-accordion">
        <div *ngFor="let data of foodOrder; let i = index">
            <div class="ac-head d-flex flex-row justify-content-between" [ngClass]="{ 'active':view_tab === 'ac_'+i}"
                (click)="changeTab('ac_'+i)" (dblclick)="changeTab('ac_0')">
                <div class="customerDetails">
                    <h6 class="display-6"> Customer Name : {{ data.customerName}} </h6>
                    <h6 class="display-6"> Customer Number : {{ data.contactNumber}} </h6>
                </div>
                <div class="d-flex flex-row justify-content-around">
                    <div *ngIf="data.isVeg" class="mx-2">
                        <span class="badge badge-pill badge-success">Veg</span>
                    </div>
                    <div *ngIf="data.isNonVeg" class="mx-2">
                        <span class="badge badge-pill badge-danger">Non-Veg</span>
                    </div>
                </div>
                <div class="orderDetails">
                    <p> Order Created : {{ data.orderCreatedTime}} </p>
                    <p> Order Sub Total : {{ data.totalPrice}} </p>
                </div>
            </div>
            <div *ngIf="view_tab == 'ac_'+i" class="ac-content">
                <div class="card-body">
                    <h3>Items Order</h3>

                    <div class="row ">
                        <div class="col-6">

                            <table class="table" width="12%">
                                <thead class=" thead-dark ">
                                    <tr>
                                        <th>Item</th>
                                        <th>Price</th>
                                        <th>Quantity</th>

                                    </tr>
                                </thead>
                                <tbody style="text-align: centre;">
                                    <tr *ngFor="let r of foodOrder; let i = index">
                                        <td>
                                            {{ r.item[i].name}}
                                        </td>
                                        <td>
                                            {{ r.item[i].price}}
                                        </td>
                                        <td>
                                            {{ r.item[i].quantity }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card-body">
                                <h4 class="card-title">SubTotal : {{ data.totalPrice }}</h4>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column justify-content-center align-content-center">
                                <ul style="list-style: none;" class="">
                                    <h3>Order Status</h3>

                                    <li>
                                        <h4 class="display-5">
                                            <span class="dot1" style="background-color: green;"></span> Order placed
                                        </h4>
                                    </li>
                                    <li>
                                        <h4 class="display-5">
                                            <span class="dot1"
                                                [ngStyle]="{backgroundColor: (data.status.toLowerCase() == 'cooking' || data.status.toLowerCase() == 'delivered')?'green':'grey'}"></span>
                                            Cooking
                                        </h4>
                                    </li>

                                    <li>
                                        <h4 class="display-5">
                                            <span class="dot1"
                                                [ngStyle]="{backgroundColor: (data.status.toLowerCase() === 'delivered')?'green':'grey'}"></span>
                                            Delivered
                                        </h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>