
<header>
  <h4 class="logo">FOOD APP</h4>
  <nav class='nav1'>
    <ul class='nav_links'>
      <div *ngIf="role==null">
      <a>
        <li routerLink="/login">Log In</li>
      </a>
      <a>
        <li routerLink="/register">Register</li>
      </a>
      <a>
        <li href="">About Us</li>
      </a>
    </div>

    <div *ngIf="role==='ADMIN'"> 
    <a routerLink="/foodorder">FoodProducts
      </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a href="">Staff
      </a>

      <a href="">Managers   
      </a>

    </div> 

    <div *ngIf="role==='STAFF'">
      <a routerLink="/staff/{{id}}">Menu        
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <a routerLink="/foodorders/{{id}}">Food Order       
      </a>
    </div>


    </ul>
  </nav>
  <button type="submit" class="button" (click)="logout()">logout</button>
</header>