<div class=" container-fluid" >
  <div class="row" >
    <div class="col-5 mt-5">
      <div class="form1">
      <form #foodProducts="ngForm" (ngSubmit)="addFoodProduct(foodProducts)">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputPassword4">Name</label>
            <input type="text" class="form-control" placeholder="Enter Food Product Name" id="foodProductName"
              name="name" ngModel />
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">About</label>
          <input type="text" class="form-control" placeholder="about Of product" id="foodProductabout" name="about"
            ngModel />
          <input type="hidden" class="form-control" id="foodProductavailability" name="availability" value="true"
            ngModel />
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Price</label>
            <input type="text" class="form-control" placeholder="Set Price" id="foodProductPrice" name="price"
              ngModel />
          </div>
          <div class="form-group col-md-6">
            <label for="inputZip">Type</label>
            <select type="text" class="form-control" placeholder="Set Type" id="foodProductType" name="type" ngModel>
              <option>VEG</option>
              <option>NON-VEG</option>
              <option>DRINK</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn btn-secondary" data-dismiss="modal">
            Reset
          </button>
          <div class="button2">
          <!-- <button type="button" class="btn btn-secondary" >Add More</button> -->
          <button type="submit" class="btn btn-primary">
            Add product
          </button>
        </div>
        </div>
      </form>
    </div>
    </div>
    <div class="col-7 mt-5">
    <div class="shadow p-2 mb-3 bg-white rounded  bg-white rounded">
      <div class="row d-flex flex-row justify-content-between align-content-between">
        <div class="col-4 ">
          <select id="types" class="form-control" [(ngModel)]="_type">
            <option value="">Search By catogery</option>
             <option *ngFor="let type of types; " value="{{ type }}">{{ type }}</option>
           </select>
        </div>
        <div class="col-4">
          <input type="text" class="form-control" id="Search" placeholder="Search  Item..." [(ngModel)]="pattern">
        </div>
      </div>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
      <table class="table align-middle mb-0 bg-white ">
        <thead class="thead-dark rounded">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>About</th>
            <th>Availability</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let item of foodProduct  | filterByType:_type | filterBYName : pattern; let i = index;">
            <td>{{i+1}}</td>
            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ item.name}}</p>
              </div>
            </td>
            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ item.about}}</p>
              </div>
            </td>
            <td>
              <span class="badge badge-success px-2 rounded-pill">{{ item.availability }}</span>
            </td>
            <td>
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ item.price}}</p>
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-link btn-sm btn-rounded"  [routerLink]="['/edit/',_menuId,item.id]" >
                Edit
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="deleteFoodProduct(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
