<div class="container-fluid d-flex justify-content-center align-content-center pt-5">
    <div class="row d-flex flex-row justify-content-center align-content-center">
        <div class="col-8">
            <div class="card border-secondary mt-2 mb-2 d-flex flex-row justify-content-between align-content-between">
                <div class="pt-2 mx-3" >
                    <h4 class="card-title">Customer Name : {{ order.customerName }}</h4>
                    <h4 class="card-title">Customer Number : {{ order.customerNumber }}</h4>
                </div>
                <div class="pt-2 mx-3">
                    <h4 class="card-title">Order Created : {{ order.orderCreatedTime }}</h4>
                    <h4 class="card-title">Order Delivered : {{ order.orderDeliveryTime }}</h4>
                </div>
            </div>
        </div>
            <div class="col-6 border ">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2">
                <h4 class="display-6">Total : {{ order.totalPrice }}</h4>
                <h4 class="display-6">GST : {{ order.totalPrice*0.18 }}</h4>
                <h4 class="display-6">Sub Total : {{ order.totalPrice + order.totalPrice*0.18 }}</h4>
            </div>
        </div>
        <!-- 
            <div class="col-3">
                <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Download Invoice</button>
                <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Print Invoice</button>
                <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Open Invoice</button>
            </div> -->
    </div>
