<nav class="navbar navbar-expand-sm nbavar-dark bg-secondary">    
    <h3>Invoice Generator</h3>  
</nav>    
    
<div class="container-fluid pt-2">    
    <div class="row">    
        <div class="col-md-8">    
            <div class="card border-secondary mt-2" > 
                <div class="card-body">    
                    <h4 class="card-title">Customer Details:</h4>    
                    
                </div>    
            </div>    
               
                <div class="card-body">  
                    <h3>Items Order</h3>
                    
                    <div class="row">    
                        <table class="table">    
                            <thead class=" thead-dark ">    
                                <tr>    
                                    <th width="25%">Item</th>    
                                    <th width="25%">Price</th>    
                                    <th width="25%">Quantity</th>    
                                     
                                </tr>    
                            </thead>    
<!--                             
                            <tbody>    
                                <tr *ngFor="let r of result.data.foodproductid.item">    
                                    <td>{{r.name}}</td>
                                    <td>{{r.price}}</td>
                                    <td>{{r.quantity}}</td>
                                   
                                </tr>    
                            </tbody>     -->
                        </table>    
                    </div>    
                </div>    
                <div class="card-body">    
                    <h4 class="card-title">SubTotal</h4>    
                    
                </div>  
           
    
        </div>    
        <div class="col-md-4">    
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Download Invoice</button>    
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Print Invoice</button>    
            <button type="button" name="" class="btn btn-secondary btn-lg btn-block">Open Invoice</button>    
        </div>    
    </div>    
</div>  